body,
html{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica';
}

* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("scrabble.jpg");

    /* Control the height of the image */
    min-height: 100vh;
    min-width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Add styles to the form container */
.step-1 {
    position: absolute;
    /* right: 0; */
    margin: 20px;
    left: 50px;
    max-width: 700px;
    padding: 20px;
    background-color: rgb(255, 245, 220);
    border: 4px outset rgb(255, 245, 220);
}
.step-2 {
    position: absolute;
    top: 510px;
    left: 50px;
    margin: 20px;
    width: 100%;
    max-width: 700px;
    max-height: 180px;
    padding: 20px;
    background-color: rgb(255, 245, 220);
    border: 4px outset rgb(255, 245, 220);
}
.step-3 {
    position: absolute;
    top: 150px;
    left: 775px;
    margin: 20px;
    width: 100%;
    height: 100%;
    max-width: 540px;
    max-height: 400px;
    padding: 20px;
    background-color: rgb(255, 245, 220);
    border: 4px outset rgb(255, 245, 220);
}

.step2-content{
    margin-top: -15px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    color: #995a0d;
    background-color:#fbe7bd;
    border: 1px solid #f6c991;
}

.textarea-container {
    position: relative; /* Set the container as relative positioning context */
    width: 100%;
    margin-bottom: 30px; /* Ensure space for the word count */
}

textarea {
    width: calc(100% - 10px); /* Adjust width to accommodate the scrollbar */
    height: 200px; /* Adjust height as needed */
    padding: 10px;
    margin: 0;
    color: #995a0d;
    background-color:#fbe7bd;
    border: 1px solid #f6c991; /* Add border */
    resize: vertical; /* Allow vertical resizing */
    overflow-y: auto; /* Enable vertical scrollbar when content exceeds height */
}

#wordCount {
    position: absolute;
    bottom: 0px;
    right: 30px;
    color: #999; /* Adjust color as needed */
    font-size: 14px; /* Adjust font size as needed */
}

.result {
    background-color: #ffefd5;
    border: 3px solid #ffdda7;
    padding: 10px;
    margin-top: 20px;
}

.homePage {
    font-family: 'verdana';
}
.homeButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffe097; /* Button color */
    color: #7b5704; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
}
.saveWPM{
    display: inline-block;
    padding: 5px 10px;
    background-color: #a8ff97; /* Button color */
    color: #7b5704; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
}
.resetWPM{
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffb897; /* Button color */
    color: #7b5704; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
}
.calculateButton{
    display: inline-block;
    font-size: 50px;
    padding: 10px 20px;
    background-color: #816104; /* Button color */
    color: #f8f8f8; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
}

.calculateButton:hover,
.saveWPM:hover,
.resetWPM:hover, .homeButton:hover{
    opacity: 0.7;
}
.calculateButton:disabled{
    opacity: 0.5; /* Adjust the opacity value as needed */
}

h1{
    color: #694e12; 
}

h2{
    color: #865a21; 
}

h3{
    color: #96682b; 
}

h4{
    color: #7b5704; 
}

p{
     color: #7b5704; 
}

label{
    color: #7b5704;
}