body {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Helvetica';
}
.homeButton:hover{
    opacity: 0.7;
}

h1 {
    color: #008861;
}

h3 {
    color: #1fa66c;
}

canvas {
    border: 2px solid #2e8b6e;
}

.homePage {
    font-family: 'verdana';
}
.homeButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #97ffd5;
    color: #047b65;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}