body {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #005688;
}

h3 {
    color: #1f74a6;
}

canvas {
    border: 2px solid #5b2e8b;
}

.homePage {
    font-family: 'verdana';
}
.homeButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #97e8ff;
    color: #041e7b;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.background-rectangles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.rectangle {
    position: fixed;
    width: 100%;
    height: 50%;
}

.wall-bg {
    background-color: #eaf8fe;
    height:85%;
    top: 0;
}

.floor-bg {
    background-color: #5c2525;
    height:10%;
    bottom: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.radio {
    position: fixed;
    bottom: 10px;
    left: 230px;
    top: 600px;
    width: 100px;
    height: auto;
}